.navbar{
    opacity: 0.8;
    width: 100%;
    color: white;
    background-color: rgb(0, 31, 0);
}

.font{
    font-family: 'Pacifico', cursive;
}

.dimmer2{
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: rgb(0, 31, 0);
}
.bgimg-1{
    position: relative;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image: url("https://vietnamweaselcoffee.files.wordpress.com/2015/07/5950119911_f3245cfddc_o.jpg");
    min-height: 500px;
}

.bgimg-2{
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        background-image: url("https://vietnamweaselcoffee.files.wordpress.com/2015/07/5950119911_f3245cfddc_o.jpg");
        min-height: 900px;
}
.story{
    color: white;
    text-align: left;
    position: relative;
}

.firstpage{
    color: white;
}

.locate{
    color: white;
}

.dimmer3{
    opacity: 0.4;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: rgb(29, 31, 29);
}